<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    const ROOM_ID = "<%= roomId %>"; // ejs内でrenderのオブジェクトの値を受け取る記法
    console.log(ROOM_ID); // uuid
  </script>
</head>
<body>
  Hello world
</body>
</html>